body {
    background-color: black;
}

label {
    color: white;

}

select {
    background-color: black;
}

h1 {
    position: relative;
    color: rgb(0, 102, 255);
    background-color: black;
}

.masc {
    color: blue;
    background-color: black;
}

.fem {
    color: rgb(240, 74, 255);
    background-color: black;
}

.both {
    color: blueviolet;
    background-color: black;
}

.neither {
    color: yellow;
}

button {
    color: white;
    background-color: rgb(30, 179, 0);
    font-weight: bold;
}